.carousel-inner > .item {
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  vertical-align: middle;
}

.list-group-item {
  margin: 0 auto;
  padding: auto 0 auto 0;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}
