<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" [routerLink]="['/goods/list', 'All', 1]">
        SMARTCOM
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">회원 메뉴
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngIf="!loginCheck"><a routerLink="/member/login">로그인</a></li>
          <li *ngIf="!loginCheck"><a routerLink="/member/register">회원가입</a></li>
          <li *ngIf="loginCheck" (click)="logOut()"><a>로그아웃</a></li>
          <li *ngIf="loginCheck"><a routerLink="/member/dashboard">마이 페이지</a></li>
          <li *ngIf="adminCheck"><a routerLink="/admin/reggoods">관리자 페이지</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
