<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" href="#">
        SMARTCOM
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">회원 메뉴
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">로그인</a></li>
          <li><a href="#">회원가입</a></li>
          <li><a href="#">마이 페이지</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
