@charset "UTF-8";
#sidebar {
  background-color: white;
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .sidebar-offcanvas {
    position: absolute;
    width: 60%; /* 6 columns */
    display: none;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    display: block;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .row-offcanvas-right.active {
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
