<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" id="login-form-link">로그인</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">회원가입</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">

                  <input type="text" id="id" formControlName="id"
                         tabindex="1" class="form-control"
                         placeholder="아이디" [(ngModel)]="model.id" required>

                  <div *ngIf="id.invalid && (id.dirty || id.touched)"
                       class="alert alert-danger">
                    <div *ngIf="id.errors.required">
                      아이디가 필요합니다.
                    </div>
                    <div *ngIf="id.errors.minlength">
                      아이디는 4글자 이상이어야 합니다.
                    </div>
                    <div *ngIf="id.errors.idFormat">
                      아이디의 형식이 잘못되었습니다.
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" tabindex="2" class="form-control"
                         placeholder="패스워드" [(ngModel)]="model.pw">

                  <div *ngIf="password.invalid && (password.dirty || password.touched)"
                       class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      패스워드가 필요합니다.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      패스워드는 8글자 이상이어야 합니다.
                    </div>
                    <div *ngIf="password.errors.passwordFormat">
                      패스워드의 형식이 잘못되었습니다.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="3"
                             class="form-control btn btn-login" value="로그인">
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="button" name="login-submit" id="admin-test" tabindex="3"
                             class="form-control btn btn-login" value="어드민 테스트" (click)="adminTest()">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a tabindex="4" class="forgot-password">비밀번호 찾기</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>
  {{model | json}}
</h1>
